<!-- To container ends here -->
<div class="bs-example">
  <!-- <div class="jumbotron">
    <h1>Grunt</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ul class="bxslider">
    <li><img src="/images/pic3.jpg" /></li>
    <li><img src="/images/pic2.jpg" /></li>
    <li><img src="/images/pic4.png" /></li>
  </ul>

</div>
<!-- sign up model box -->
<div ng-include="'/partial/signup_modal.html'"></div>

<!-- <div class="row marketing">
  <a href="../icon/github"><i class="fa fa-github"></i> fa-github</a>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>

